body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
html {
    background-color: #ffffff;
    font-size: 100%;
}

#text {
    background-color: #212121;
    color: #ff9900;
    font-size: 1.5rem;
    border: none;
    outline: none;
    line-height: 2.3rem;
    width: 42.9rem;
    height: 39.45rem;
    float: left;
    position: relative;
}
#text::before,
#text::after {
    content: '';
    display: table;
}
#text::after {
    clear: both;
}
#run {
    background-color: #ffffff;
    margin-top: -2px;
    padding-left: 0.5rem;
    display: block;
    height: 39.8rem;
    float: left;
    width: 40rem;
    word-break: break-all;
}
#copy {
    position: absolute;
    right: 42.5rem;
    top: 0.3rem;
    font-size: 1rem;
    padding: 10px;
    background-color: #212121;
    color: #ff9900;
    font-family: Arial;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#copy:hover {
    background-color: #ff9900;
    color: white;
}